<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447929745806-8qu63q9knllfjlbhtnfog0bou1kse201.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447929745806-8qu63q9knllfjlbhtnfog0bou1kse201</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>447929745806-o45kbun2pvj9p6dq4sem7tadksk5oleb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ_AlS8HcDvw1RiMjVzyOSmtU7suIXT40</string>
	<key>GCM_SENDER_ID</key>
	<string>447929745806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ksm.vns</string>
	<key>PROJECT_ID</key>
	<string>vnsproject-2b2eb</string>
	<key>STORAGE_BUCKET</key>
	<string>vnsproject-2b2eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447929745806:ios:0a3f29f9a6806902</string>
	<key>DATABASE_URL</key>
	<string>https://vnsproject-2b2eb.firebaseio.com</string>
</dict>
</plist>